









@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600&display=swap');

img{
    width: 185px;
    border-radius: 3px;
}
.imgContainer{
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 0;
}
.cardUnica{
    vertical-align: top;
    background-color:rgb(159, 240, 45); 
    background: linear-gradient(-70deg, #0eff56 10%, #03dfd8 30%, #df03be 45%, #03dfd8 60%, #00ff44 75%);
    box-shadow: 8px 13px  rgba(30, 30, 30, 0.8);
    display: inline-block;
    justify-content: flex-end;
    font-size: 15px;
    padding: 9px 8px 50px 8px;
    margin: 0px 0px 130px 0px;
    border-radius: 10px;
    height: 250px;
}


/* --------------------------------- */



.firstRow{
    container-type: inline-size;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    margin-top: 15px;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}
.rowName{
    padding: 0.5em 0.4em 0.5em 0.4em;
    max-width: 45%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5.5cqi;
    background-color: rgb(67, 0, 168);
    border-radius: 7px;
    border: 1px solid rgb(255, 255, 255);
    color:rgb(57, 161, 253);

}
.rowSpecies{
    padding: 0.7em 0.4em 0.7em 0.4em;
    max-width: 45%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5.5cqi;
    background-color: rgb(149, 0, 255);
    border-radius: 7px;
}
.rowName p,
.rowSpecies p {
    margin-top: 0;
    margin-bottom: 0;
} 

.like{
    padding-left: 0px;
    padding-right: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(149, 0, 255, 0.4);
    font-size: 18px;
}


/* --------------------------------- */

.secondRow{
    height: 20px;
    margin-top: 27px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}
.secondRowId{
    display: inline-block;
    /* margin-left: 5px; */
    font-size: 11px;
    width: 30px
}
.secondRowBot{
    display: flex;
    width: 30px;
    margin-top: 0px;
    padding-top: 0;
}

/* --------------------------------- */

.closeCard{
    border-radius: 6px;
    line-height: 5px;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-right: 6px;
    padding-left:6px;
    font-size: 12px;
}
.secondRowId p{
    margin-top: 0;
    margin-bottom: 0; 
}

/* --------------------------------- */