








/* .navBarContariner{
  height: 140px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  background: linear-gradient(-180deg,
    hsla(214, 97%, 38%, 0.4) 40%,
    hsla(258, 93%, 47%, 0.6) 30%,
    hsla(249, 100%, 5%, 0.7) 95%, 
    hsla(263, 100%, 48%, 0.6) 60%,
    hsl(269, 86%, 50%, 0) 0%
    );
  
} */

.navBarContariner{
  height: 140px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: auto;
  justify-content: space-between;

  background: linear-gradient(180deg,
    hsla(214, 97%, 38%, 0.4) 70%,
    /* hsla(258, 93%, 47%, 0.6) 30%, */
    hsla(249, 100%, 5%, 0.7) 100% 
    /* hsla(263, 100%, 48%, 0.6) 60%, */
    /* hsl(269, 86%, 50%, 0) 0% */
    );
  
}


.botonesNav{
  width: 30%;
  display: flex;
  justify-content: normal;
  height: 20px;
  font-size: 0px;
  line-height: 3px;
  align-items: center;
  margin-left: 10%;
  margin-top: 38px;
}



.botones {
  align-items: center;
  background-image: linear-gradient(144deg,#1f00eb, #7913fd 50%,#77f6ff);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  line-height: 1px;
  width: 50px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  font-size: 8px;
  margin-right: 80px;
}
  
.botones:active,
.botones:hover {
  outline: 0;
}

.botones span {
  background-color: rgb(41, 5, 82);
  padding: 18px 4px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 

}

.botones:hover span {
  background: none;
  color: #dd66f2
}

@media (min-width: 768px) {
.botones {
  font-size: 22px;
  min-width: 85px;
}
}

  

/* 

.botones {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
.botones:active,
.botones:hover {
outline: 0;
}

.botones span {
background-color: rgb(5, 6, 45);
padding: 16px 24px;
border-radius: 6px;
width: 100%;
height: 100%;
transition: 300ms;
}

.botones:hover span {
background: none;
}

@media (min-width: 768px) {
.botones {
font-size: 24px;
min-width: 196px;
}
}
   */