








.navBarContariner{
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    background: linear-gradient(-180deg,
     hsla(269, 86%, 50%, 0.3) 10%,
      hsla(258, 93%, 47%, 0.6) 30%,
       hsl(0, 0%, 0%) 45%, 
       hsla(263, 100%, 48%, 0.6) 60%,
        hsl(269, 86%, 50%, 0.3) 75%);
}


.botonesNav{
    width: 30%;
    display: flex;
    justify-content: space-between;
    height: 20px;
    font-size: 10px;
    line-height: 3px;
    align-items: center;
}



.botones {
    align-items: center;
    background-image: linear-gradient(144deg,#eb007d, #64f40b 50%,#e8e113);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 5px;
    justify-content: center;
    line-height: 5px;
    width: 50px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
.botones:active,
.botones:hover {
outline: 0;
}

.botones span {
background-color: rgb(44, 128, 230);
padding: 16px 24px;
border-radius: 6px;
width: 100%;
height: 100%;
transition: 300ms;
}

.botones:hover span {
background: none;
}

@media (min-width: 768px) {
.botones {
font-size: 14px;
min-width: 96px;
}
}
  

/* 

.botones {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
.botones:active,
.botones:hover {
outline: 0;
}

.botones span {
background-color: rgb(5, 6, 45);
padding: 16px 24px;
border-radius: 6px;
width: 100%;
height: 100%;
transition: 300ms;
}

.botones:hover span {
background: none;
}

@media (min-width: 768px) {
.botones {
font-size: 24px;
min-width: 196px;
}
}
   */