








.background{
    background-image: url('../../Images/randmorty.png'); 
    position: fixed;
    top:25%;
    left:25%;
    right:25%;
    height:55%;
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
    border: 3px solid #021d75;
    border-radius: 20%;
    /* border-radius: 25px; */
    box-shadow: 0 0 10px 5px rgba(12, 30, 165, 0.545),
            0 0 20px 7px rgba(15, 242, 246, 0.874),
            0 0 25px 20px rgba(137, 43, 226, 0.782),
            0 0 30px 25px rgba(122, 20, 255, 0.692),
     inset 0px 0px 1vw 1vw rgba(0, 0, 0, 0.709),
     inset 0px 0px 0.5vw 0.5vw rgba(0, 0, 0, 0.568);
} 
 
.cardsContainer{
    gap: 10%;
    padding: 6% 10% 50px 10%;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    position: relative;
    column-count: 4;
}

