








.background{
    background-image: url('../../Images/fondo.webp'); 
    position: fixed;
    margin-left: 200px;
    margin-right: 200px;
    top:0px;
    left:0px;
    right:0px;
    height:100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
} 
.cardsContainer{
    max-width: 100%;
    padding: 100px 50px 50px 50px;
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

