








.background{
    background-image: url('../../Images/fondo.jpg'); 
    position: fixed;
    top:25%;
    left:30%;
    right:30%;
    height:50%;
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
    border: 0px solid black;
    box-shadow: 0 0 10px 5px #0c1ea5,
            0 0 20px 7px #0fb5f6,
            0 0 25px 20px #8a2be2,
            0 0 30px 25px #7a14ff;
            /* ff1493 */
} 
 




.cardsContainer{
    max-width: 100%;
    padding:225px 25px 50px 25px;
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

